*.swp
/main
*.bak
/goss
/release
/integration-tests/goss/goss
/integration-tests/**/*-generated.json
/vendor/
/integration-tests/**/goss-linux-386
/integration-tests/**/goss-linux-amd64

# Random stuff for my local testing/development that I don't want checked in
tmp/
/goss.yaml
